<!-- Example row of columns -->
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <h2>Track</br><small>your Progress</small></h2>
        <p>After setting your medication compliance goals, see how you are performing
        on a day to day basis. Easily identify medication habits and track your trends.
        Share your progress with your family and friends by connecting through Facebook
        or Twitter.</p>
        <p>
            <a class="btn btn-default" href="/progress" role="button">View details
                &raquo;</a>
        </p>
    </div>
    <div class="col-xs-6 col-sm-3">
        <h2>Claim</br><small>your Compliance</small></h2>
        <p>Our easy-to-use upload page allows you to confirm when you have taken your
        medications, and lets your insurer, employer, or health care provider know that 
        you are complying with their standards. Ask your provider if you are eligible
        to participate in a COMPLY program, and receive reimbursements or benefits
        in exchange for your compliance!
        </p>
        <p>
            <a class="btn btn-default" href="/upload" role="button">View details
                &raquo;</a>
        </p>
    </div>
    <div class="col-xs-6 col-sm-3">
        <h2>Reminders</br><small>for your Medication</small></h2>
        <p>Difficulty keeping track of when to take your medications? Our reminder page
        allows you to easily connect with your phone or other device and set customized
        alarms and alerts to remind you in a way that works with your lifestle. In addition
        to medications, supplements, and excercise reminders, we also will send you an
        alert when it's time to refill your prescriptoins!</p>
        <p>
            <a class="btn btn-default" href="/medications" role="button">View details
                &raquo;</a>
        </p>
    </div>
    <div class="col-xs-6 col-sm-3">
        <h2>Connect</br><small>with your Doctor</small></h2>
        <p>Send and receive messages for your doctor to help keep on top of your goals.
        Feel free to ask a question or voice a concern about your medications any time,
        any where. We want YOU to feel in control of your own medication decisions, and
        </p>
        <p>
            <a class="btn btn-default" href="/messages" role="button">View details
                &raquo;</a>
        </p>
    </div>
</div>