<!DOCTYPE html>
<html lang="en">
<% include header %>
<body> 
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1><%= title %></h1>
            <p><i>A reward-based medication compliance program.</i></p>
            <p>
            Comp.ly is a health platform connecting doctors and patients participating in the COMPLY program.
            We make it easy for you to gain control over your health, keep to your medications, and claim rewards
            from participating program providers based on your compliance.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/home" role="button">Go to Patient Dashboard
                    &raquo;</a>
            </p>
        </div>
    </div>
 
    <div class="container">
        <% include content %>
        <hr>
 
        <% include footer %>
    </div>
    <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>