<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 
    <div class="jumbotron">
            <h1><%= title %></h1>
            <p><i>How are you doing so far?</i></p>
            <p><small>
            Track your stats, monitor your compliance, and see how you are doing in your set goal path.
            </small></p>
    </div>

    <div class="container-fluid">
        <% include content_progress %>
        <hr>
 
        <% include footer %>
    </div>
    <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#progress').addClass("active");
        });
    </script>
</body>
</html>