<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 
    <div class="container">
        <div class="page-header">
            <h1>
                Upload <small> Evidence-based compliance</small>
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h2 align="center"><br>Upload QR Code</br></h2>
                <form action="/upload" class="dropzone" drop-zone="" id="file-dropzone">
                    <h1 align="center"><span class ="glyphicon glyphicon-qrcode"></span></h1>
                </form>
                <p>Upload a photo of the QR code from your medication. Our program will analyze and verify the code for you and automatically input a medication event in to your electronic health record.</p>

            </div>
            <div class="col-xs-12 col-sm-4">
                <h2 align="center"><br>Sync Your Device</br></h2>
                <h1 align="center"><span class ="glyphicon glyphicon-refresh"></span></h1>
                <p> If you used the COMPLY application for iOS or Android, make sure your device information is uploaded to the platform.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2 align="center"><br>Enter a Code</br></h2>
                <h1 align="center"><span class="glyphicon glyphicon-pencil"></span></h1>
                <p>Type in the 14-digit code located on the custom-label on your medication.</p>
                <div class="col-lg-4">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Enter</button>
                      </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
        </div>

        <hr>
 
        <% include footer %>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/javascripts/dropzone.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#upload').addClass("active");
        });
    </script>
</body>
</html>